extends layouts/layout.pug

include includes/mixins

append meta
    +metadescription('Crea Citazione')

block content
    .card.card-create-quote
        .card-body
            form(action="/quote/create" method="POST")
                .form-group
                    label(for="quote-body") Citazione
                    textarea#quote-body(name="quote-body" placeholder="La tua citazione").form-control
                .form-group
                    label(for="quote-author") Autore
                    input#quote-author(type="text" name="quote-author" placeholder="Autore").form-control
                .d-flex.justify-content-between.align-items-center
                    button(type="submit").btn.btn-primary Invia
                    .custom-control.custom-switch
                        input#nsfw-switch.custom-control-input(type="checkbox" name="nsfw")
                        label.custom-control-label.prevent-select(for="nsfw-switch") NSFW