extends layouts/layout.pug

block content
    .quote
        h3.body= quote.getBody()
        h4.author= quote.getAuthor()
        p.permalink
            span Condividi:
            small.link= url(`/quotes/${quote.getUuid()}`)
            i(aria-hidden="true")#quote-to-clipboard.fa.fa-clipboard.quoter-icon-button
            

append scripts
    
    if autoUpdate
        script(src="../js/autoupdate.js")
        
    script(src="../js/quote.js")
